



<!--新規投稿books/new.html.erb-->
<h2>New book</h2>
  <%= form_with model: book do |f| %>
    <div class="mb-2">Title</div>
      <%= f.text_field :title, size: "20"  %>
    <div class="my-2">Opinion</div>
      <%= f.text_area :body, size: "23×10" %>
      <br>
    <input class="btn btn-success mt-3" type="submit" value="Create Book">
  <% end %>